##THIS FILE MUST NOT ME COMMITED NOR PUSHED TO THE REPO
Figma_Urbanessence.pdf

##ARCHIVOS INTELLIJ
Urbanessence/.idea
Urbanessence/out
Urbanessence/Urbanessence.iml
Urbanessence/.gitignore

##JDBC

Urbanessence/jdbc